<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name="com.gemofgemma.ai.GemmaService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="ai_inference" />
        </service>

        <uses-native-library
            android:name="libvndksupport.so"
            android:required="false" />

        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
    </application>

</manifest>
